:root {
    --primary-color: #2c9b48; /* Vert Twowin */
    --primary-hover: #238a3b;
    --secondary-color: #1a5a2c; /* Vert foncé */
    --secondary-hover: #144224;
    --bg-color: #f5f7fa;
    --text-color: #212529;
    --light-text: #6c757d;
    --border-color: #e9ecef;
    --border-radius: 10px;
    --card-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
    --danger-color: #dc3545;
    --danger-hover: #c82333;
    --success-color: #28a745;
    --success-hover: #218838;
    --warning-color: #ffc107;
    --warning-hover: #e0a800;
  }